
/* /// Card.js files///////////////////////////////// */
.card_1{

    width: 98%;
    height: auto;
    margin-left: 1%;
    background-color: rgb(255, 255, 255);
    margin-top:5%;
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card_11{

    width: 24%;
    height: 250px;
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    margin-top: 0.5%;
    border-radius: 2%;
    margin-bottom: 1%;
    position: relative;
    transition: transform 0.3s, z-index 0.3s;
    box-shadow: 0 2px 8px rgba(124, 52, 52, 0.2);
    
}
.card_11:hover {
    z-index: 1;
  transform: scale(1.1);

  }

.card_title{
    width: 90%;
    margin-left: 5%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;

    /* padding-left: 10px; */
    /* padding-top: 6px; */
    background-color: rgb(255, 255, 255);
}
.card_discription{
    width: 90%;
    margin-left: 5%;
    height: 60%;
    margin-bottom: 5px;
    /* padding-left: 10px; */
    /* padding-top: 6px; */
    background-color: rgb(255, 255, 255);
    /* height: 300px; Set the desired height */
    overflow-y: auto;
}
.card_discription::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  .card_discription::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .card_discription::-webkit-scrollbar-thumb {
    background: transparent;
  }

.card_progress{
    width: 90%;
    margin-left: 5%;
    height: 30px;
    /* padding-left: 10px; */
    /* padding-top: 6px; */
    background-color: rgb(255, 255, 255);
}




/* ////End///////////////////////////*/

  /* ///////////////////// CardForAdd */


.newDialog{
    height: 500px;
    width: 500px;
}

.dataAndtimePicker{

    width:460px;
    margin-left: 20px;
}


  /* /////////////////////// Ends  */

  /*     /////////////////Operation_Card */

  .operation_card{

    width: 800px;
    height: 500px;
    background-color: rgb(212, 208, 215);
  }
  .MuiPaper-root {

    width: 800px;
  }

  .title_input{
    width: 760px;
    height: 50px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 20px;
    border: 0.1px solid;
    border-radius: 4px;
    border-color: rgb(120, 120, 120);


  }

  .discription_input{
    width: 760px;
    height: 340px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px;
    border: 0.1px solid;
    border-radius: 4px;
    border-color: rgb(120, 120, 120);
  }
  .buttons_operation{
    width: 740px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 30px;
  }

  .discription_input:active{
    border: 0.5px solid;
    border-radius: 4px;
    border-color: rgb(66, 83, 242);
  }
 